/**
 * @file App.css
 * @description stiling for main app screen
 * @author Destiny
 * @date 2025-01-31
 * 
 * @notes
 * There is some weirdness happening with the width and the form container
 */
.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;  
  width: 5000px;
  margin: 0;  
  background-color: rgba(255, 255, 255, 0.906);  
}

.logo-container {
  display: flex;
  flex-direction: column;  
  margin-top: 0px;  
  margin-left: 675px;   
  z-index: 10;  
  margin-bottom: 650px;
}

.logo {
  z-index: 10;
  width: 150px; 
  height: auto; 
  margin-top: 40px; 
}

.header-container {
  z-index: 5; 
  width: 5000px;
  height: 225px;
  background-color: #2638c4;
  display: flex;
  position: absolute;  
  top: 0; 
  right: 0;  
  justify-content: flex-end; 
  padding-top: 70px;
  padding-right: 475px;
}

header {
  width: 100%;
}

header h1 {
z-index: 6;
margin: 0;
}

.form-container {
  position: relative; 
  top: 200px;  
  width: 5000px;  
  height: calc(100vh - 225px);  /* Fill space not taken by blue banner */
  display: flex;
  flex-direction: column;
}